<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIntermediaryInboundExternalBasic">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IReceiptExternalBasic">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ISystemAuthenticationExternal">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IReporteeElementListExternalBasic">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ICorrespondenceExternalBasic">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://tt02.altinn.basefarm.net/IntermediaryExternal/IntermediaryInboundBasic.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIntermediaryInboundExternalBasic"
          contract="AltinnAMelding.IIntermediaryInboundExternalBasic"
          name="BasicHttpBinding_IIntermediaryInboundExternalBasic" />
      <endpoint address="https://tt02.altinn.basefarm.net/IntermediaryExternal/ReceiptExternalBasic.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReceiptExternalBasic"
          contract="Receipt.IReceiptExternalBasic" name="BasicHttpBinding_IReceiptExternalBasic" />
      <endpoint address="https://tt02.altinn.basefarm.net/AuthenticationExternal/SystemAuthentication.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISystemAuthenticationExternal"
          contract="Authentication.ISystemAuthenticationExternal" name="BasicHttpBinding_ISystemAuthenticationExternal" />
      <endpoint address="https://tt02.altinn.basefarm.net/ServiceEngineExternal/ReporteeElementListExternalBasic.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReporteeElementListExternalBasic"
          contract="CorrespondenceListForReportee.IReporteeElementListExternalBasic"
          name="BasicHttpBinding_IReporteeElementListExternalBasic" />
      <endpoint address="https://tt02.altinn.basefarm.net/ServiceEngineExternal/CorrespondenceExternalBasic.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICorrespondenceExternalBasic"
          contract="Correspondence.ICorrespondenceExternalBasic" name="BasicHttpBinding_ICorrespondenceExternalBasic" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="systemUserName" value="9163"/>
    <add key="systemPassword" value="test1234"/>
    <add key="ssn" value="03057900961"/>
    <add key="systemUserCode" value="ASF"/>
    <add key="serviceCode" value="3811"/>
    <add key="serviceEdition" value="201501"/>
    <add key="orgNo" value="910190423"/>
    <add key="visibleDateTime" value="2016-10-31"/>
    <add key="allowSystemDeleteDateTime" value="2016-11-01"/>
    <add key="dueDateTime" value="2016-10-31"/>
    <add key="shipmentDateTime" value="2016-10-31"/>
    <add key="notificationTemplate" value="DEFAULT_SKORT"/>
    <add key="epost" value="annamaria.preg@capgemini.com"/>
    <add key="fromAddress" value="no-reply@altinn.no"/>
    <add key="mobilePhone" value="95089983"/>
    <add key="languageCode" value="1044"/>
    <add key="DataFormatId" value="1521"/>
    <add key="DataFormatVersion" value="10634"/>
    <add key="FormData" value="&lt;melding xmlns=&quot;http://seres.no/xsd/Kursdomene/LånesøknadJME_M/2011&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&gt;&lt;Innsender&gt;&lt;søker&gt;&lt;fødselsnummer&gt;aaaaaaaaaaa&lt;/fødselsnummer&gt;&lt;navn&gt;String&lt;/navn&gt;&lt;/søker&gt;&lt;/Innsender&gt;&lt;/melding&gt;"/>
    <!--
      <add key="FormData" value="&lt;![CDATA[&lt;melding xmlns=&quot;http://seres.no/xsd/Kursdomene/LånesøknadJME_M/2011&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&gt;&lt;Innsender&gt;&lt;søker&gt;&lt;fødselsnummer&gt;aaaaaaaaaaa&lt;/fødselsnummer&gt;&lt;navn&gt;String&lt;/navn&gt;&lt;/søker&gt;&lt;/Innsender&gt;&lt;/melding&gt;]]&gt;"/>        
    -->
  </appSettings>
</configuration>