<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FromPath" value="D:\\Altinn\\Inbox"/>
    <add key="ToPath" value="D:\\Altinn\\CorrespondenceSent"/>
    <add key="ToPathFailed" value="D:\\Altinn\\Failed_CorrespondenceSending"/>
    <add key="systemUserName" value="AAS_TEST"/>
    <add key="systemPassword" value="6GMSx5n8"/>
    <add key="systemUserCode" value="ASF"/>
    <add key="serviceCode" value="3996"/>
    <add key="serviceEdition" value="201503"/>
    <add key="orgNo" value="910888560"/>
    <add key="visibleDateTime" value="2016-10-31"/>
    <add key="allowSystemDeleteDateTime" value="2016-11-01"/>
    <add key="dueDateTime" value="2016-10-31"/>
    <add key="shipmentDateTime" value="2016-10-31"/>
    <add key="notificationTemplate" value="DEFAULT_SKORT"/>
    <add key="epost" value="annamaria.preg@capgemini.com"/>
    <add key="fromAddress" value="no-reply@altinn.no"/>
    <add key="mobilePhone" value="95089983"/>
    <add key="languageCode" value="1044"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICorrespondenceAgencyExternalBasic">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://tt02.altinn.basefarm.net/ServiceEngineExternal/CorrespondenceAgencyExternalBasic.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICorrespondenceAgencyExternalBasic"
        contract="ICorrespondenceAgencyExternalBasic.ICorrespondenceAgencyExternalBasic"
        name="BasicHttpBinding_ICorrespondenceAgencyExternalBasic" />
    </client>
  </system.serviceModel>
</configuration>