<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICorrespondenceAgencyExternalBasic">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://tt02.altinn.basefarm.net/ServiceEngineExternal/CorrespondenceAgencyExternalBasic.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICorrespondenceAgencyExternalBasic"
          contract="ICorrespondenceAgencyExternalBasic.ICorrespondenceAgencyExternalBasic"
          name="BasicHttpBinding_ICorrespondenceAgencyExternalBasic" />
    </client>
  </system.serviceModel>  
  <appSettings file="SendInCorrespondence.config">
  </appSettings>
</configuration>